#exa {  
    border: 2px solid black;
    height: 400px;
    max-width: 80%;
    font-size: 100px;
    font-weight: center;
    color: rgb(10, 9, 9);
    margin:100px;
    border-radius: 50px;
    padding-top: 160px;
    padding-left: 30%;
    } 